[Unit]
Description=USB camera live feed over UDP
After=network-online.target

[Service]
EnvironmentFile=/etc/mg5-stream/var_file
ExecStart=/home/mg5-ubuntu/mg5-stream-app ${MG5_STREAM_HOST} ${MG5_STREAM_PORT}
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
