[Unit]
Description=ROS2 mg5x-main target
After=network-online.target

[Service]
WorkingDirectory=/home/mg5-ubuntu/ros2ws/src
ExecStart=/usr/bin/bash -c "source /opt/ros/humble/setup.bash && /home/mg5-ubuntu/exec_mg5x.sh"
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
