# TODO: Change to After= to something related to serial?
[Unit]
Description=Starts the PX4 uXRCE-DDS Agent
After=network-online.target

[Service]
Restart=always
ExecStart=MicroXRCEAgent udp4 -p 8888
Type=simple

[Install]
WantedBy=multi-user.target
